
.img-fluid {
  max-width: 100%;
  height: auto;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.purple {
  background-color: #9c27b0 !important;
}
.indigo{
  background-color: #6610f2;
}
link.badge-primary:hover, link.badge-primary:focus {
  color: #fff;
  background-color: #0062cc;
}
link.badge:hover, link.badge:focus {
  text-decoration: none;
}

link.badge-primary:focus, link.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(31, 53, 72, 0.08);
}