
a {
    text-decoration: none;
    font-size: 16px;
}
.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:beige;
} 
.footer__icons {
    width: 25px;
    margin: 0px 10px 0px 10px;
}
a:hover {
    color: #ff7fe3;
}
.footer p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    color: beige;
    margin: 16px 5px 16px 5px;
    padding: 0 2px;
}
