* {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  
a {
  text-decoration: none; }
/*  estilo para el menu de navegación */
.menu {
  list-style-type: none;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  color: beige;
  margin: 16px; }

.menu__item__link {
  text-decoration: none;
  color: beige;
  font-family: 'Bebas Neue', sans-serif; }

a:hover {
  color: #ff7fe3; }

header {
    background-color: black; }
.navBar {background-color: #1f1f1f;}
.logo {
  width: 100px; }
/*  fin estilo de menu de navegación  */



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
